services:
  keycloak:
    image: quay.io/keycloak/keycloak:23.0.7
    command: >
      start-dev
      --import-realm
      --https-port=8443
      --https-certificate-file=/certs/cert.pem
      --https-certificate-key-file=/certs/key.pem
      --hostname-strict=false
      --hostname-strict-https=false
      --hostname=localhost
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HOSTNAME_STRICT_HTTPS: 'false'
      KC_HOSTNAME_STRICT: 'false'
      KC_HEALTH_ENABLED: "true"
      KC_METRICS_ENABLED: "true"
    ports:
      - "8443:8443"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "curl -kf https://localhost:8443/health/ready || exit 1" ]
      interval: 5s
      timeout: 3s
      retries: 40
    volumes:
      - ./certs:/certs:ro
      - ./acceptance/src/test/resources/keycloak:/opt/keycloak/data/import:ro

